.main_content{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;

	.left_content{
		width: 50%;
		display: flex;
		flex-direction: column;
		align-items: center;

		.left_content_text{
			height: 30vh;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;

			h1{
				color: #0D0E18;
				font-size: 2rem;
				font-weight: bold;
			}
	
			h3{
				color: #AAA8A8;
				font-size: 1.25rem;
				font-weight: normal;
				padding-top: 0.93rem;
			}
		}

		.img{
			width: 100%;
			height: 70vh;
			background-color: blue;
		}
	}


	.right_content{
		width: 50%;
		height: 100vh;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: #FF632D;

		.all_right_content{
			display: flex;
			flex-direction: column;
			justify-content: center;
			width: 60%;

			h1{
				font-size: 3.7rem;
				font-weight: bold;
				color: #ffffff;
				text-align: center;
			}
	
			form{
				display: flex;
				flex-direction: column;
	
				input{
					padding: 20px 0 5px 0;
					border: none;
					border-bottom: 1px solid white;
					background: transparent;
					margin-bottom: 1.7rem;
					color: white;
				}
	
				#inputID::placeholder {
					color: white;
					opacity: 1;
				}

				textarea{
					padding-top: 20px;
					border: none;
					border-bottom: 1px solid white;
					background: transparent;
					margin-bottom: 1.7rem;
					color: white;
					max-width: 100%;
					min-width: 100%;
				}

				#textareaID::placeholder {
					color: white;
					opacity: 1;
				}

				.bnt_submit{
					padding: 20px 60px;
					background: white;
					color: #FF632D;
					border: 1px solid transparent;
					border-radius: 30px;
					font-size: 1.25rem;
					font-weight: bold;

					transition: all 0.3s ease ;
				}

				.bnt_submit:hover{
					background: #FF632D;
					border: 1px solid white;
					color: white;
				}
			}
		}
	}
}

.titulo_mensages{
	h1{
		text-align: center;
		font-size: 3.75rem;
		font-weight: normal;
		margin-bottom: 40px;
	}
}